<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <properties>
    <property name="level">%highlight{%-5level}</property>
    <property name="timestamp">%d{yyyy-MM-dd HH:mm:ss}</property>
    <property name="location">%c{1}.%M:%L</property>
    <property name="msg">%msg%n%throwable{short.lineNumber}</property>
    <property name="patternBase">${level} ${timestamp} ${location} - ${msg}</property>
  </properties>
  <appenders>
    <console name="stdout" target="SYSTEM_OUT">
      <patternLayout pattern="${patternBase}" />
    </console>
    <rollingFile name="rollingFile" fileName="${sys:logPath}/alda-player.log" filePattern="${sys:logPath}/alda-player-%d{yyyy-MM-dd}.log">
      <patternLayout pattern="${patternBase}" />
      <policies>
        <!-- Causes a rollover if the log file is older than the current JVM's start time -->
        <!-- <onStartupTriggeringPolicy /> -->
          <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
        <timeBasedTriggeringPolicy interval="1" modulate="true" />
      </policies>
    </rollingFile>
  </appenders>

  <loggers>
    <root level="info" additivity="false">
      <appenderRef ref="stdout" />
      <appenderRef ref="rollingFile" />
    </root>
  </loggers>
</configuration>
