# Gradle project-specific cache directory
.gradle

# Gradle build output directory
/build/

# bin/build output directory
/target/

# Generated source files
src/commonMain/kotlin/Version.kt

# alda.wasm used for test page (fetched by `test-page/serve` script)
test-page/alda.wasm
